{% extends "base.html.twig" %}
{% block body %}

{% include'bibliotroc/header.twig' %}
<div class="container-fluid" style="width:90%;">

<div  class="row">
    <div class="col-3" style="background:#BCF7F7;">
          
  <h3>Catalogues</h3>
  <div class="list-group" >
  {% for categorie in categories %}
    <a href="{{ path('page_livre', {'id':categorie.id})}}" class="list-group-item">{{categorie.nomCategorie}}</a>
  {% endfor %}
  </div>
</aside> 

    </div>
    <div class="col-9" style="margin-top:25px;">
        <div class="card mb-3" style="height:380px;">
       <div class="row g-0">
    <div class="col-md-3">
      <img src="{{asset('images/livres/'~livre.codeBare~'.jpg')}}" class="img-fluid rounded-start" alt="..." style="height:380px; width:300px;">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">{{ livre.nomLivre }}</h5>
           {{ livre.auteur}}</br>
          disponible</br>
          Editeur: {{ livre.editeur }}</br>
          Parution: {{livre.parution }} </br>
          disponible: {{ livre.disponible }}</br>
          Format: {{ livre.format }}</br>
       Nombre de page: {{ livre.nbrePage }}</br>
      </div>
        <div class="d-grid gap-2 col-6 mx-auto" style=" float:right;">
          <a href="{{ path('commande', {'id':livre.id})}}"><button type="button" class="btn btn-primary btn-sm " style="width:250px;">Je le veux</button></a>
          <a href="{{ path('add_stock', {'id':livre.id}) }}"><button type="button" class="btn btn-secondary btn-sm " style="width:250px;">je le possede</button></a>
        </div>
       </div>
      </div>
   </div>
    <div class="card border-primary mb-3" style="max-width:100%;">
     <div class="card-header">Resumer</div>
      <div class="card-body text-primary">
        <p class="card-text">{{livre.resumer}}</p>
      </div>
    </div>
   <h4> Voir aussi... </h4>
   {% for livre in livres %}
    <div class="col-md-6" style="float:left; height:250px;">
        <div class="card mb-3" style="max-width: 540px;height:210px;">
           <div class="row g-0">
               <div class="col-md-4">
               <img src="{{asset('images/livres/'~livre.codeBare~'.jpg')}}" class="img-fluid rounded-start" alt="..." style="height:200px;">-
              </div>
              <div class="col-md-8">
                 <div class="card-body">
                    <h5 class="card-title">{{livre.nomLivre }}</h5>
                     {{ livre.auteur}}</br>
                    {{ livre.categorie.nomCategorie}}</br>
                    <span style="color:black; font-size:20px;">{{ livre.nbrePoint }} Points</span></br>
                  </div>
                  <div class="bouton" style="position:fixe;">
                      <a href="{{ path('show_livre', {'id':livre.id}) }}"><button type="button" class="btn btn-primary btn-sm " style="width:150px;">Je le veux</button></a>
                      <a href="{{ path('show_livre', {'id':livre.id}) }}"><button type="button" class="btn btn-secondary btn-sm " style="width:150px;">je le possede</button></a>
                  </div>
              </div>
           </div>
        </div>
    </div>
{% endfor %}

  </div>
</div>
</div>
  {% include'bibliotroc/footer.twig' %}
{% endblock %}