{% extends "base.html.twig" %}
{% block body %}
  {% include'bibliotroc/header.twig' %}

<div class="container-fluid" style="width:90%; ">
    <div class="row">
       <div class="col-sm-3"  style="background:#BCF7F7;">
         <h3>Catalogues</h3>
         <div class="list-group">
           {% for categorie in categories %}
                <a href="{{ path('page_livre', {'id':categorie.id})}}" class="list-group-item">{{categorie.nomCategorie}}</a>
           {% endfor %}
         </div>
       </div>
       <div class="col-sm-9">
         <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Ville</th>
                <th scope="col">Adresse</th>
            </tr>
                </thead>
                <tbody>
                   
                    {% for membre in membrePosseder %}                      
                        <tr>
                        <td>{{membre.users.nom}}</td>
                        <td>{{membre.users.prenom}}</td>
                    <td><a href="{{ path('Email', {'id':membre.users.id})}}">{{membre.users.email}}</a></td> 
                        <td>{{membre.users.ville}}</td>
                        <td>{{membre.users.adresse}}</td>
                        </tr>                   
                    {% endfor %}
                </.a>
            </table>

        </div>
    </div>
</div>

{% endblock  %}